[probes]

[probes.content_shutdown_crashes]
data_source = "crash"
select_expression = "IF(REGEXP_CONTAINS(payload.process_type, 'content') AND REGEXP_CONTAINS(payload.metadata.ipc_channel_error, 'ShutDownKill'), 1, 0)"
friendly_name = "Content Shutdown Crashes"
category = "stability"
type = "scalar"

[probes.content_crashes]
data_source = "crash"
select_expression = "IF(REGEXP_CONTAINS(payload.process_type, 'content') AND NOT REGEXP_CONTAINS(COALESCE(payload.metadata.ipc_channel_error, ''), 'ShutDownKill'), 1, 0)"
friendly_name = "Content Crashes"
category = "stability"
type = "scalar"

[probes.shutdown_hangs]
data_source = "crash"
select_expression = "IF(payload.metadata.moz_crash_reason LIKE 'MOZ_CRASH%', 1, 0)"
friendly_name = "Shutdown Hangs"
category = "stability"
type = "scalar"

[probes.oom_crashes]
data_source = "crash"
select_expression = "IF(payload.metadata.oom_allocation_size IS NOT NULL, 1, 0)"
friendly_name = "Oom Crashes"
category = "stability"
type = "scalar"

[probes.main_crashes]
data_source = "crash"
select_expression = "IF(payload.process_type = 'main' OR payload.process_type IS NULL, 1, 0)"
friendly_name = "Main Crashes"
category = "stability"
type = "scalar"

[probes.startup_crashes]
data_source = "crash"
select_expression = "IF(payload.metadata.startup_crash = '1', 1, 0)"
friendly_name = "Startup Crashes"
category = "stability"
type = "scalar"

[probes.gmplugin_crashes]
data_source = "main_nightly"
select_expression = "COALESCE(`moz-fx-data-shared-prod`.udf.keyed_histogram_get_sum(payload.keyed_histograms.subprocess_crashes_with_dump,'gmplugin'), 0)"
friendly_name = "Gmplugin Crashes"
category = "stability"
type = "scalar"

[probes.gpu_crashes]
data_source = "main_nightly"
select_expression = "COALESCE(`moz-fx-data-shared-prod`.udf.keyed_histogram_get_sum(payload.keyed_histograms.subprocess_crashes_with_dump, 'gpu'), 0)"
friendly_name = "Gpu Crashes"
category = "stability"
type = "scalar"

[probes.plugin_crashes]
data_source = "main_nightly"
select_expression = "COALESCE(`moz-fx-data-shared-prod`.udf.keyed_histogram_get_sum(payload.keyed_histograms.subprocess_crashes_with_dump, 'plugin'),0)"
friendly_name = "Plugin Crashes"
category = "stability"
type = "scalar"

[probes.child_process_launch_ms]
data_source = "main_nightly"
select_expression = "payload.histograms.child_process_launch_ms"
friendly_name = "Child Process Launch Ms"
category = "performance"
type = "histogram"

[probes.content_process_count]
data_source = "main_nightly"
select_expression = "payload.histograms.content_process_count"
friendly_name = "Content Process Count"
category = "performance"
type = "histogram"

[probes.content_process_max]
data_source = "main_nightly"
select_expression = "payload.histograms.content_process_max"
friendly_name = "Content Process Max"
category = "performance"
type = "histogram"

[probes.checkerboard_severity]
data_source = "main_nightly"
select_expression = "payload.histograms.checkerboard_severity"
friendly_name = "Checkerboard Severity"
category = "performance"
type = "histogram"

[probes.content_frame_time_vsync]
data_source = "main_nightly"
select_expression = "payload.histograms.content_frame_time_vsync"
friendly_name = "Content Frame Time Vsync"
category = "performance"
type = "histogram"

[probes.fx_new_window_ms]
data_source = "main_nightly"
select_expression = "payload.histograms.fx_new_window_ms"
friendly_name = "Fx New Window Ms"
category = "performance"
type = "histogram"

[probes.fx_tab_switch_composite_e10s_ms]
data_source = "main_nightly"
select_expression = "payload.histograms.fx_tab_switch_composite_e10s_ms"
friendly_name = "Fx Tab Switch Composite E10S Ms"
category = "performance"
type = "histogram"

[probes.keypress_present_latency_ms]
data_source = "main_nightly"
select_expression = "payload.processes.gpu.histograms.keypress_present_latency"
friendly_name = "Keypress Present Latency Ms"
category = "performance"
type = "histogram"

[probes.memory_total]
data_source = "main_nightly"
select_expression = "payload.histograms.memory_total"
friendly_name = "Memory Total"
category = "performance"
type = "histogram"

[probes.cycle_collector_max_pause]
data_source = "main_nightly"
select_expression = "payload.histograms.cycle_collector_max_pause"
friendly_name = "Cycle Collector Max Pause"
category = "performance"
type = "histogram"

[probes.cycle_collector_max_pause_content]
data_source = "main_nightly"
select_expression = "payload.processes.content.histograms.cycle_collector_max_pause"
friendly_name = "Cycle Collector Max Pause Content"
category = "performance"
type = "histogram"

[probes.gc_max_pause_2]
data_source = "main_nightly"
select_expression = "payload.histograms.gc_max_pause_ms_2"
friendly_name = "Gc Max Pause 2"
category = "performance"
type = "histogram"

[probes.gc_max_pause_2_content]
data_source = "main_nightly"
select_expression = "payload.processes.content.histograms.gc_max_pause_ms_2"
friendly_name = "Gc Max Pause 2 Content"
category = "performance"
type = "histogram"

[probes.gc_ms]
data_source = "main_nightly"
select_expression = "payload.histograms.gc_ms"
friendly_name = "Gc Ms"
category = "performance"
type = "histogram"

[probes.gc_ms_content]
data_source = "main_nightly"
select_expression = "payload.processes.content.histograms.gc_ms"
friendly_name = "Gc Ms Content"
category = "performance"
type = "histogram"

[probes.gc_slice_during_idle]
data_source = "main_nightly"
select_expression = "payload.histograms.gc_slice_during_idle"
friendly_name = "Gc Slice During Idle"
category = "performance"
type = "histogram"

[probes.gc_slice_during_idle_content]
data_source = "main_nightly"
select_expression = "payload.processes.content.histograms.gc_slice_during_idle"
friendly_name = "Gc Slice During Idle Content"
category = "performance"
type = "histogram"

[probes.gc_non_incremental]
data_source = "main_nightly"
select_expression = "payload.histograms.gc_non_incremental"
friendly_name = "Gc Non Incremental"
category = "performance"
type = "histogram"

[probes.gc_reason_2]
data_source = "main_nightly"
select_expression = "payload.processes.content.histograms.gc_reason_2"
friendly_name = "Gc Reason 2"
category = "performance"
type = "histogram"

[probes.gc_mark_rate_2]
data_source = "main_nightly"
select_expression = "payload.processes.content.histograms.gc_mark_rate_2"
friendly_name = "Gc Mark Rate 2"
category = "performance"
type = "histogram"

[probes.gc_budget_overrun]
data_source = "main_nightly"
select_expression = "payload.histograms.gc_budget_overrun"
friendly_name = "Gc Budget Overrun"
category = "performance"
type = "histogram"

[probes.memory_unique_content_startup]
data_source = "main_nightly"
select_expression = "payload.processes.content.histograms.memory_unique_content_startup"
friendly_name = "Memory Unique Content Startup"
category = "performance"
type = "histogram"

[probes.perf_first_contentful_paint_ms]
data_source = "main_nightly"
select_expression = "payload.processes.content.histograms.perf_first_contentful_paint_ms"
friendly_name = "Perf First Contentful Paint Ms"
category = "performance"
type = "histogram"

[probes.time_to_first_interaction_ms]
data_source = "main_nightly"
select_expression = "payload.histograms.time_to_first_interaction_ms"
friendly_name = "Time To First Interaction Ms"
category = "performance"
type = "histogram"

[probes.perf_page_load_time_ms]
data_source = "main_nightly"
select_expression = "payload.processes.content.histograms.perf_page_load_time_ms"
friendly_name = "Perf Page Load Time Ms"
category = "performance"
type = "histogram"

[probes.loaded_tab_count]
data_source = "main_nightly"
select_expression = "payload.histograms.loaded_tab_count"
friendly_name = "Loaded Tab Count"
category = "performance"
type = "histogram"

[probes.active_ticks]
data_source = "main_nightly"
select_expression = "payload.processes.parent.scalars.browser_engagement_active_ticks"
friendly_name = "Active Ticks"
category = "performance"
type = "scalar"

[probes.subsession_length]
data_source = "main_nightly"
select_expression = "payload.info.subsession_length"
friendly_name = "Subsession Length"
category = "performance"
type = "scalar"

[probes.uri_count]
data_source = "main_nightly"
select_expression = "payload.processes.parent.scalars.browser_engagement_total_uri_count"
friendly_name = "Uri Count"
category = "performance"
type = "scalar"

[probes.tab_pinned_event_count]
data_source = "main_nightly"
select_expression = "payload.processes.parent.scalars.browser_engagement_tab_pinned_event_count"
friendly_name = "Tab Pinned Event Count"
category = "tabs"
type = "scalar"

[probes.tab_open_event_count]
data_source = "main_nightly"
select_expression = "payload.processes.parent.scalars.browser_engagement_tab_open_event_count"
friendly_name = "Tab Open Event Count"
category = "tabs"
type = "scalar"

[probes.tab_unload_to_reload]
data_source = "main_nightly"
select_expression = "payload.histograms.tab_unload_to_reload"
friendly_name = "Tab Unload To Reload"
category = "tabs"
type = "histogram"

[probes.tab_reload_count]
data_source = "main_nightly"
select_expression = "payload.processes.parent.scalars.browser_engagement_tab_reload_count"
friendly_name = "Tab Reload Count"
category = "tabs"
type = "scalar"

[probes.tab_unload_count]
data_source = "main_nightly"
select_expression = "payload.processes.parent.scalars.browser_engagement_tab_unload_count"
friendly_name = "Tab Unload Count"
category = "tabs"
type = "scalar"

[probes.concurrent_pinned_tab_count]
data_source = "main_nightly"
select_expression = "payload.processes.parent.scalars.browser_engagement_max_concurrent_tab_pinned_count"
friendly_name = "Concurrent Pinned Tab Count"
category = "tabs"
type = "scalar"

[probes.concurrent_opened_tab_count]
data_source = "main_nightly"
select_expression = "payload.processes.parent.scalars.browser_engagement_max_concurrent_tab_count"
friendly_name = "Concurrent Opened Tab Count"
category = "tabs"
type = "scalar"

[probes.opened_tab_count]
data_source = "main_nightly"
select_expression = "payload.histograms.tab_count"
friendly_name = "Opened Tab Count"
category = "tabs"
type = "histogram"

[probes.js_pageload_xdr_encoding_ms]
data_source = "main_nightly"
select_expression = "payload.processes.content.histograms.js_pageload_xdr_encoding_ms"
friendly_name = "Js Pageload Xdr Encoding Ms"
category = "performance"
type = "histogram"

[probes.js_pageload_protect_ms]
data_source = "main_nightly"
select_expression = "payload.processes.content.histograms.js_pageload_protect_ms"
friendly_name = "Js Pageload Protect Ms"
category = "performance"
type = "histogram"

[probes.js_pageload_parse_ms]
data_source = "main_nightly"
select_expression = "payload.processes.content.histograms.js_pageload_parse_ms"
friendly_name = "Js Pageload Parse Ms"
category = "performance"
type = "histogram"

[probes.js_pageload_execution_ms]
data_source = "main_nightly"
select_expression = "payload.processes.content.histograms.js_pageload_execution_ms"
friendly_name = "Js Pageload Execution Ms"
category = "performance"
type = "histogram"

[probes.js_pageload_delazification_ms]
data_source = "main_nightly"
select_expression = "payload.processes.content.histograms.js_pageload_delazification_ms"
friendly_name = "Js Pageload Delazification Ms"
category = "performance"
type = "histogram"

[probes.js_pageload_baseline_compile_ms]
data_source = "main_nightly"
select_expression = "payload.processes.content.histograms.js_pageload_baseline_compile_ms"
friendly_name = "Js Pageload Baseline Compile Ms"
category = "performance"
type = "histogram"

[probes.input_event_response_ms]
data_source = "main_nightly"
select_expression = "payload.histograms.input_event_response_ms"
friendly_name = "Input Event Response Ms"
category = "performance"
type = "histogram"

[dimensions]

[dimensions.os]
data_source = "main_nightly"
select_expression = "normalized_os"

[dimensions.cores_count]
data_source = "main_nightly"
select_expression = "environment.system.cpu.cores"

[data_sources]
  
[data_sources.main_nightly]
from_expression = "mozdata.telemetry.main_nightly"
submission_date_column = "DATE(submission_timestamp)"

[data_sources.crash]
from_expression = "mozdata.telemetry.crash"
submission_date_column = "DATE(submission_timestamp)"
